@model IEnumerable<Shoppers.Models.Stock>


<div class="products-breadcrumb">
    <div class="container">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
            <li>@ViewBag.Category</li>
        </ul>
    </div>
</div><div class="banner">

    <div class="w3l_banner_nav_right">
        <div class="w3l_banner_nav_right_banner5">
            <h3>Best Deals For New Products<span class="blink_me"></span></h3>
        </div>
        <div class="w3l_banner_nav_right_banner3_btm">
            <div class="col-md-4 w3l_banner_nav_right_banner3_btml">
                <div class="view view-tenth">
                    <img src="images/18.jpg" alt=" " class="img-responsive" />
                    <div class="mask">
                        <h4>Grocery Store</h4>
                   
                    </div>
                </div>
                <h4>@ViewBag.Category</h4>
        
            </div>
      
            <div class="clearfix"> </div>
        </div>
         <h3 class="w3l_fruit">@ViewBag.Category</h3>

                @foreach (var item in Model)
                {
                    @if (@item.ProductItems.Count % 2 == 0)
                    {
                        <div class="col-md-3 w3ls_w3l_banner_left w3ls_w3l_banner_left_asdfdfd">
                            }
                            else{
                            <div class="col-md-3 w3ls_w3l_banner_left">
                               }
                                <div class="hover14 column">
                                    <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                                        <div class="tag"><img src="images/tag.png" alt=" " class="img-responsive"></div>
                                        <div class="agile_top_brand_left_grid1">
                                            <figure>
                                                <div class="snipcart-item block">
                                                    <div class="snipcart-thumb">
                                                        <a href="#"><img src="=@item.PathUrl" alt="@item.Name " class="img-responsive" /></a>
                                                        <p>@item.Name</p>

                                                    </div>
                                                    <div class="snipcart-details">
                                                        <form action="#" method="post">
                                                            <fieldset>
                                                                <input type="hidden" name="cmd" value="_cart" />
                                                                <input type="hidden" name="add" value="1" />
                                                                <input type="hidden" name="item_name" value=@item.Name />
                                                                <input type="hidden" name="amount" value=@item.Price />
                                                                <input type="submit" name="submit" value="Add to cart" class="button" />
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    }


                <div class="clearfix"> </div>
            </div>
    <div class="clearfix"></div>
</div>